rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /paypal_token_cache/{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /spots/{spotId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null;
    }

    match /transactions/{transactionId} {
      allow read: if request.auth != null && (request.auth.uid == resource.data.buyerId || request.auth.uid == resource.data.sellerId);
    }

    match /config/{document=**} {
      allow read: if true;
    }
  }
}
